.tiled {
    color: rgba(236,94,94,1);
    opacity: 1;
    border-width: 3px;
}

.split {
    color: rgba(255,246,108,1);
    opacity: 1;
    border-width: 3px;
}

.stacked {
    color: rgba(247,162,43,1);
    opacity: 1;
    border-width: 3px;
}

.tabbed {
    color: rgba(17,199,224,1);
    opacity: 1;
    border-width: 3px;
}

.floated {
    color: rgba(180,167,214,1);
    border-width: 3px;
    opacity: 1;
}

.window-clone-border,
.window-tiled-border,
.workspace-thumbnail-indicator {
    border-width: 3px;
    border-color: rgba(236,94,94,1);
    border-style: solid;
    border-radius: 6px;
}

.window-split-border {
    border-width: 3px;
    border-color: rgba(255,246,108,1);
    border-style: solid;
    border-radius: 6px;
}

.window-split-horizontal {
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.window-split-vertical {
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
}

.window-stacked-border {
    border-width: 3px;
    border-color: rgba(247,162,43,1);
    border-style: solid;
    border-radius: 6px;
}

.window-tabbed-border {
    border-width: 3px;
    border-color: rgba(17,199,224,1);
    border-style: solid;
    border-radius: 6px;
}

.window-tabbed-bg {
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}

.window-floated-border {
    border-width: 3px;
    border-color: rgba(180,167,214,1);
    border-style: solid;
    border-radius: 6px;
}

.window-tilepreview-tiled {
    border-width: 1px;
    border-color: rgba(236,94,94,0.4);
    border-style: solid;
    border-radius: 1px;
    background-color: rgba(236,94,94,0.3);
}

.window-tilepreview-stacked {
    border-width: 1px;
    border-color: rgba(247,162,43,0.4);
    border-style: solid;
    border-radius: 1px;
    background-color: rgba(247,162,43,0.3);
}

.window-tilepreview-tabbed {
    border-width: 1px;
    border-color: rgba(17,199,224,0.4);
    border-style: solid;
    border-radius: 1px;
    background-color: rgba(17,199,224,0.3);
}

.search-entry:focus {
    border-color: rgba(236,94,94,1);
    border-width: 2px;
    border-style: solid;
}

.kbd-shortcut:focus {
    color: rgba(236,94,94,1);
}

.icon-grid .app-well-app:hover,
#searchResultsContent .app-well-app:hover,
.search-section-content-item:hover,
.icon-grid .app-well-app:focus,
#searchResultsContent .app-well-app:focus,
.search-section-content-item:focus,
.list-search-result:hover,
.list-search-result:focus,
.search-provider-icon:hover,
.search-provider-icon:focus
{
    background-color: rgba(236,94,94, 0.5);
    border-radius: 8px;
}

