.window-clone-border,.workspace-thumbnail-indicator {
    border-width: 3px;
    border-color: #ec5e5e;
    border-style: solid;
    border-radius: 3px;
}

.window-split-direction-horizontal {
    border-width: 3px;
    border-color: #fff66c !important;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    border-radius: 3px;
}

.window-split-direction-vertical {
    border-width: 3px;
    border-color: #fff66c !important;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-radius: 3px;
}

.workspace-skip-tile-indicator {
    border-width: 2px;
    border-color: #f48174;
    border-style: solid;
}

.layout-stacked-decoration {
    border-width: 1px;
    border-color: #ec5e5e;
    border-style: solid;
    border-radius: 1px;
    background-color: rgba(236,94,94, 0.5);
}

.search-entry:focus {
    border-color: #ec5e5e;
    border-width: 2px;
    border-style: solid;
}

.kbd-shortcut:focus {
    color: #ec5e5e !important;
}

.icon-grid .app-well-app:hover,
#searchResultsContent .app-well-app:hover,
.search-section-content-item:hover,
.icon-grid .app-well-app:focus,
#searchResultsContent .app-well-app:focus,
.search-section-content-item:focus,
.list-search-result:hover,
.list-search-result:focus,
.search-provider-icon:hover,
.search-provider-icon:focus
{
    background-color: rgba(236,94,94, 0.5);
    border-radius: 8px;
}

